version: '3.9'

services:
  postgres:
    container_name: postgres
    image: postgres:17
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - teacinema
  redis:
    container_name: redis
    image: redis:8.4
    restart: always
    command:
      - redis-server --requirepass=${REDIS_PASSWORD}
    ports:
      - "6379:6479"
    volumes:
      - redis_data:/data
    networks:
      - teacinema

volumes:
  postgres_data:
  redis_data:

networks:
  teacinema: